<div class="container header">
    <div class="row">
        <!-- <div class="col-sm-12"> -->
        <div class="col-sm-6">
            <div class="row"> 
                <div class="col-sm-4 logo"><span>S</span></div>
                <div class="col-sm-8 userName"><span>Suparya Sonalika Das</span></div>
            </div>
        </div>
        <div class="col-sm-6">
            <ul class="no-bullets" style="padding-top: 6px; display: flex; justify-content: space-between;">
                <li [routerLink]="'home'">Home</li>
                <li [routerLink]="'#'">About Me</li>
                <li [routerLink]="'resume'">Resume</li>
                <li [routerLink]="'#'">Portfolio</li>
                <li [routerLink]="'contact'">contact</li>
            </ul>
        </div>
        <!-- </div> -->
    </div>
</div>