<div class="col-sm-12 row home">
    <div class="col-sm-5 row">
        <div class=" col-sm-4"></div>
        <div class=" col-sm-8">
            <div class="outer-box">
                <div class="box">
                    <img src="../../assets/dp_o.jpg">
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6" style="padding-top: 15px;">
        <div>
            <p class="pro_deg"> UI Developer</p>
            <p class="pro_user">Suparya Sonalika Das</p>
            <p class="pro_description">
                Angular developer highly skilled in designing and testing
                single page applications And having skill set of Angular v8 & v11, Angular1.x,
                Typescript,Javascript,HTML,CSS
                etc.
                <!-- Demonstrates the capability of conceptualizing, creating testing and optimizing the web application
                andrendering support throughout the build and publish of web application. -->
            </p>
            <div class="col-sm-12">

                <button type="button" class="btn btn-download">
                    <a style="color:#563d7f;text-decoration: none;" href="../../assets/SuparyaSonalika_Das_Resume.PDF" target="_self" download> Download CV</a>
                </button>
                <button type="button" class="btn btn-contact" (click)="contactUser()">Contact</button>
            </div>
        </div>
    </div>

</div>
<!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
 -->